<div class="panel panel-default">
  <div class="panel-heading" id="about2">
    <h1>About Club</h1>
  </div>
  <div class="panel-body">
    <p class="about">
      Timbers Army FC is a network of official Timbers Army teams that play in the various outdoor, indoor, and futsal leagues here in the Portland Metro area.
      <br><br>
      The teams that make up Timbers Army FC formed organically over time out of the energy of growing community in the North End of the stadium. The main benefit these teams provided was an opportunity for Timbers fans to play with their fellow supporters, at the same time representing and spreading the word of the Timbers Army in the soccer community.
      <br><br>
      Through the creation of the Timbers Army FC framework, the teams and 107IST want to take this a step further by providing support for the team managers and players in making their experience as fun and hassle-free as possible while maximizing the positive impact our teams can have in their respective leagues and divisions for the Timbers Army. We hope to grow the pool of teams in Timbers Army FC by creating new teams out of our membership, as well as bringing in additional teams that also have Timbers Army on their roster already. Through this we hope to help maximize the impact the Timbers Army and 107IST can have on the sport here in the city from the grassroots to the highest professional levels.
      <br><br>
      The Timbers Army FC framework isn't just about soccer; it also consists of the teams volunteering on the various charitable projects of the 107 Independent Supporters Trust such as Operation Pitch Invasion, AC Portland and a multitude of other community endeavors.
    </p>

      <h3>Benefits, Commitments, and FAQs Related to Timbers Army FC</h3>

    <p class="about">
      If you would like to join or have any questions that aren't answered by the link above, please contact us directly at Club@107ist.org to discuss further. We are willing to meet with managers personally to go into greater depth and discuss how Timbers Army FC can help progress your team.
      <br><br>
      If you are interested in joining any of these teams, please contact Club@107ist.org.
    </p>
  </div>
</div>
