<button (click)="showEditClubForm()" *ngIf="editClubButton">Edit this Club</button>

<div *ngIf="editClubForm" class="container">
<h4>Edit Club</h4>
<div class="row">
  <div class="col-md-3">
    <label>New League:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.league">
  </div>
  <div class="col-md-3">
    <label>New Club Name:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.clubName">
  </div>
  <div class="col-md-3">
    <label>New Club Manager:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.manager">
  </div>
  <div class="col-md-3">
    <label>New Club Manager Phone:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.managerPhone">
  </div>
  <div class="col-md-3">
    <label>New Club Manager Email:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.managerEmail">
  </div>
  <div class="col-md-3">
    <label>New Club Logo:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.teamLogo">
  </div>
  <div class="col-md-3">
    <label>New Club Home Kit:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.teamHomeKit">
  </div>
  <div class="col-md-3">
    <label>New Club Away Kit:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.teamAwayKit">
  </div>
  <div class="col-md-3">
    <label>New Club Club Abbreviation:</label>
  </div>
  <div class="col-md-9">
    <input [(ngModel)]="selectedClub.clubId">
  </div>
</div>
  <button (click)="beginUpdatingClub(selectedClub)" (click)="hideEditClubForm()">Update</button>
  <hr>
  <button (click)="beginDeletingClub(selectedClub)">Delete</button>
</div>
