<nav class="navbar navbar-default">
  <div class="container-fluid" id="nav">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" routerLink="">The Great Geocaching Group</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <!-- <li><a routerLink="user/photos" id="userphotos">View Your Saved Photos</a></li> -->
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="name">{{title}}</h1>
  <router-outlet></router-outlet>
</div>
<div class="container" id="footer">
  <footer class="footer">
    <a class="muted" routerLink=''>Back to Search Page</a>
</footer>
</div>
