<nav class="navbar navbar-default">
  <div class="container-fluid" id="nav">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" routerLink="">TIMBERS ARMY FOOTBALL CLUB</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="about" id="about">ABOUT TAFC</a></li>
      <li><a routerLink="clubs" id="clubs">CLUBS</a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1 class="title">{{title}}</h1>
  <router-outlet></router-outlet>
</div>

  <div class="container" id="footer">
    <footer class="footer">
    <a routerLink="admin" id="admin">ADMIN PORTAL</a>
  </footer>
  </div>
