<h3>At its simplest level, geocaching requires these 8 steps:</h3>
<div class="how-to">
<ol>
<li>Register for a free Basic Membership.</li>
<li>Visit the Hide and Seek page.</li>
<li>Enter your postal code and click "search."</li>
<li>Choose any geocache from the list and click on its name.</li>
<li>Enter the coordinates of the geocache into your GPS Device.</li>
<li>Use your GPS device to assist you in finding the hidden geocache.</li>
<li>Sign the Logbook and return the geocache to its original location.</li>
<li>Share your geocaching stories and photos online.</li>
</ol>
</div>
<h3>There are many other levels to the game. Keep reading the guide to learn more!</h3>
