<div class="container">
  <div class="latLngForm">
    <form>
      <div>
        <label for="lat">LATITUDE</label>
        <input type="text" #lat placeholder="45.523062">
      </div>
      <div>
        <label for="lng">LONGITUDE</label>
        <input type="text" #lng placeholder="-122.676482">
      </div>
    </form>
    <button (click)="getLocationByCoordinates(lat.value, lng.value)">FIND BY COORDINATES</button>
  </div>
  <div class="addressForm">
    <form>
    <div>
      <label for="streetNumber">STREET NUMBER</label>
      <input type="text" #streetNumber placeholder="1160">
    </div>
    <div>
      <label for="route">STREET ROUTE</label>
      <input type="text" #route placeholder="NW 6th Ave">
    </div>
    <div>
      <label for="locality">CITY</label>
      <input type="text" #locality placeholder="Portland">
    </div>
    <div>
      <label for="admnArea">STATE</label>
      <input type="text" #admnArea placeholder="OR">
    </div>
  </form>
  <button (click)="getLocationByAddress(streetNumber.value, route.value, locality.value, admnArea.value)">FIND BY ADDRESS</button>
  </div>
</div>
<div class="results">
  <div *ngIf="locations">
    <app-geocache-list [childLocations] ="locations"></app-geocache-list>
  </div>
  <div *ngIf="address">
    <app-geocache-address-list [childAddress] = "address"></app-geocache-address-list>
  </div>
</div>
