<h2 id="clubs">Clubs</h2>
<div *ngFor="let club of clubs | async" class="panel panel-default">
  <div class="panel-body clickable">
    <h3 (click)="goToDetailPage(club)">{{club.clubName}}</h3><p> <img src="{{club.teamLogo}}"></p>
      <div *ngIf="currentRoute === '/admin'">
        <p>LEAGUE: {{club.league}}</p>
        <p>MANAGER: {{club.manager}}</p>
        <p>MANAGER PHONE: {{club.managerPhone}}</p>
        <p>MANAGER EMAIL: {{club.managerEmail}}</p>
        <p>HOME KIT COLOR: {{club.teamHomeKit}}</p>
        <p>AWAY KIT COLOR: {{club.teamAwayKit}}</p>
        <hr>
        <app-edit-club [selectedClub]="club"></app-edit-club>
      </div>
  </div>
</div>
<div class="panel-footer">
  <p><a (click)="return()">RETURN</a></p>
</div>
